<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>985522835713-5k3204epacsckln8t312or758i0rl8ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985522835713-5k3204epacsckln8t312or758i0rl8ho</string>
	<key>API_KEY</key>
	<string>AIzaSyBIFXIFtXrssB6Z5EcejhxNbxUSPbIk7sA</string>
	<key>GCM_SENDER_ID</key>
	<string>985522835713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daranhep.instasnap</string>
	<key>PROJECT_ID</key>
	<string>instasnap-d700b</string>
	<key>STORAGE_BUCKET</key>
	<string>instasnap-d700b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:985522835713:ios:691c53399fe42b0c</string>
	<key>DATABASE_URL</key>
	<string>https://instasnap-d700b.firebaseio.com</string>
</dict>
</plist>